<ul class="list-group">
  {{#each comentarios}}
      <div class="mb-3">
          <div class="form-group" id="comentarios">
            <h4 class="list-group-item-heading">{{id_usuario}} | Puntaje: {{puntaje}}</h4>
            <p class="list-group-item-text">{{comentario}}</p>
          </div>
      </div>
  {{/each}}
</ul>
